.idea
.bigquery
.repl
target
*.pyc
.coverage
.tox/
coverage.xml
junit.xml
cobertura.xml
_qstyx/
.python-version
venv
topic-hubs-pipelines-schemas/src/main/avro/generated.avdl
.DS_Store
.topic-hubs-pipelines-virtualenv/
.edgedocker-base/
luigi
wrap-luigi
luigi.cfg
.bloop
.metals
metals.sbt
python.iml
notebooks/.ipynb_checkpoints/
.ac
.vscode/settings.json
.bsp/sbt.json
